@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    font-family: 'Open sans' , sans-serif ;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @media(min-width:576px)
}

.information-column{
    background-color:#0F0E0E;
    padding: 40px;
    color: #FFFBEB;
    text-align: center;
}

.information-column img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border-color: #FB2576;
    border-style: solid;
    border-width: 2px;
    margin-bottom: 18px;

}

.information-column hr{
    border: none;
    border-bottom: 1px solid #FB2576;
    margin-top: 18px;

}
.information-column h3{
    text-align: left;
    margin-top: 20px;
}

.information-column ul {
    list-style-type: none;
}

.information-column li{
    text-align: left;
    margin: 10px 0;
    font-size: 18px;

}

.contact-description i{
    color: #FA58B6;
    margin-right: 10px;
}

.contact-description a{
    text-decoration: none;
    color: #FFFBEB;
    font-size: 18px;
}

.education-description{
    margin-top: 36px;
}

.education-description p{
    color: #FB2576;
}

.language-description .percent{
    background-color: #FA58B6;
    margin-top: 5px;
    height: 6px;
    width: 205px;
    
}

.language-description p{
    font-size: 16px;
}

.language-description .percent div {
    height: 6px;
    background-color: #FB2576;
}

.language-description .percent.english div {
    width: 85%;
}

.language-description .percent.french div {
    width: 30%;

}

.experiences-column{
    padding: 40px;
    background-color: #FFFBEB;
    text-align: center;
    color: #0F0E0E;
}

.experiences-column h2{
    margin-bottom: 15px;
    text-align: left;
    color:#FB2576;
}

.experiences-column p{
    text-align: justify;
}
   
section{
    margin-bottom: 15px;
    margin-top: 30px;

}

section h3{
    text-align: left;
    font-style:normal;
    font-size: 16px;

}

.experiences-column .experience{
    margin-bottom: 14px;
}

.experiences-column .experience-date{
    font-size: 14px;
    
}
.experiences-column a{
    text-decoration: underline;
    text-decoration-color: #FB2576;
    color: #0F0E0E;
}

.project h3{
    margin-top: 10px;
}

.data{
    font-size: 12px;
    text-align: right;
    padding: 15px;
    background-color: #FFFBEB;
    color: #0F0E0E;
}


@media (min-width: 992px) {
    .container{
        display:flex;
    }
    .information-column img{
        width: 200px;
        height: 200px;
    }
    .experiences-column .experience{
        display:flex;
    }
    .experience-date{
        width: 300px;
        height: 88px;
    }
    
}